#header {
    text-align: center;
}

#content {
    display: flex;
    width: 600px;
    height: 600px;
}

#laptop-properties {
    width: 300px;
    height: 300px;
    display: flex;
    align-content: right;
}

#laptop-budget {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}