#touchStuff {
    text-align: center;
    width: 200px;
    border: solid red;
}

#ezA {
    text-align: center;
    margin: left;
    width: 200px;
    height: 100px;
    border: solid black;
    clear: left;
}

#yes {
    cursor: pointer;
}

#no:hover {
    visibility: hidden;
}

#animation {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 500px;
    border: solid black;
}

#animateDiv {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: red;
}